{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block body_block %}


<div class="row row-col-1">
  <div class="col-12">
    <ul class="nav nav-tabs nav justify-content-center" id="list-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Ticket</a>
      </li><li class="nav-item">
        <a class="nav-link" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">{% trans "Ticket's traitment" %}</a>
      </li><li class="nav-item">
        <a class="nav-link" id="list-statistics-list" data-toggle="list" href="#list-statistics" role="tab" aria-controls="profile">{% trans "historic" %}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"></a>
      </li>
      <li class="nav-item"><a class="btn btn-primary" href="{% url 'solutions:questionedit' pk=question.pk %}">{% trans "Edit" %}</a>
      </li>
      {% if  question.status != "RS"%}
      <li class="nav-item">
        <form class="" action="{% url 'solutions:questioneResolved' pk=question.pk %}" method="post">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit" name="button">{% trans "Resolved" %}</button>
        </form>
      </li>
      {% endif %}
      {% if not question.charged_by and request.user.is_staff %}
      <li class="nav-item">
        {% comment %} <form class="" action="{% url 'solutions:questioneCharged' pk=question.pk %}" method="post"> {% endcomment %}
          {% csrf_token %}
        <a id="charged" class="btn btn-primary" href="javascript:void(0)" >{% trans "Take in charge" %} </a>
        {% comment %} </form> {% endcomment %}
      </li>
      <script type="text/javascript">
          $("#charged").click(function () {
          $.ajax({
            url: "http://{{request.META.HTTP_HOST}}{% url 'solutions:questioneCharged' pk=question.pk %}",
            success: function (json) {
              console.log(json);
                $("#charged").remove();
                $('#actionul').prepend(json.html_content);
                $('#noAction').remove();
                $('#last_action').html(json.last_action);
                $('#time_toreact').html(json.time_toreact);
                $('#time_toresolv').html(json.time_toresolv);
                $('#resolved_at').html(json.resolved_at);
                $('#status_display').html(json.status_display);

          }});
          });
          </script>


          {% endif %}
    </ul>
    </div>
    <div class="tab-content w-100" id="nav-tabContent">
      <div class="tab-pane fade show active w-100" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <table class="table table-borderless  mx-xs-2 ">
          <tbody class="row row-col-1  no-gutters">
            <tr class="col-12 bg-light text-center align-self-center">
              <th class="">Id</th>
              <td>{{question.get_ref}}</td>

            </tr>
            <div class="col-12 row">
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "Open date" %}</th>
                <td class="col bg-white" >{{question.created_at|date:"Y-m-d H:m"}}</td>
              </tr>
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "By" %}</th>
                <td class="col bg-white">{{question.user}}</td>
              </tr>
            </div>

            <tr class="col-12 col-sm-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Last edit" %}</th>
              <td id="last_action" class="col bg-white">{{question.last_action|date:"Y-m-d H:m"}}</td>
            </tr>
            <tr class="col-md-6  col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Time to react" %}</th>
              <td id="time_toreact" class="col-8 bg-white">{{question.get_time_to_react}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4  bg-light">{% trans "Time to resolve" %}</th>
              <td id="time_toresolv" class="col-8 bg-white">{{question.get_time_to_resolv}}</td>
            </tr>
            <tr class="col-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Resolved at" %}</th>
              <td id="resolved_at" class="col  bg-white ">{{question.resolved_at|date:"Y-m-d H:m"}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Status" %}</th>
              <td id='status_display' class="col bg-white">{{question.get_status_display}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Priorite" %}</th>
              <td class="col bg-white">{{question.get_priorite_display}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Categorie" %}</th>
              <td class="col bg-white">{{question.categorie.name}}/{{question.souscategorie.name}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Title" %}</th>
              <td class="col bg-white">{{question.objet }}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Description" %}</th>
              <td class="col bg-white">{{question.description|safe}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <td class="col ">
                {% if question.image %}
                <a href="{{question.image.url}}">
                <img src="{{question.image.url}}" height="50%" width="50%" alt="">
                </a>
                {% endif %}
              </td>
            </tr>



          </tbody>
        </table>
      </div>
      <div class="tab-pane fade w-100" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <h4>Action</h4>
        <form id='action_form' method="post" action="{% url 'solutions:questionereponder' pk=question.pk %}">
          {% csrf_token %}
          <div class="row row-col-1">
            <div class="col-sm-12">
              <div class="wmd-panel">
                <link rel="stylesheet" href="{% static "css/medium-editor.css" %}">
                <link rel="stylesheet" href="{% static "css/themes/default.css" %}" id="medium-editor-theme">

                <div class="form-group row bmd-form-group border">
                  <label class="col-md-3 col-form-label sr-only bmd-label-static" for="id_description">Description</label>
                  <div class="form-control-full col-md-12">
                    <textarea name="description" class="editable medium-editor-textarea" data-placeholder="Description" placeholder="Description" title="" id="id_description">
                    </textarea>
                  </div>
                </div>
                {% bootstrap_field form.status  placeholder='' show_label=False layout='horizontal'  %}
                  <div class="col-md-9">
                    {% if not request.user.is_staff %} <!-- {% endif %}
                    <div class="form-group" >
                      <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="send_mail"
                            class="form-check-input " id="id_send_mail" >
                            {% trans "Send mail" %}
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                    {% if not request.user.is_staff %} --> {% endif %}
                    <button type="submit" class="save btn btn-info pull-right">{% trans "Save" %}.</button>
                  </div>
              </div>
            </div>

          </div>
        </form>
        <script type="text/javascript">
          $(document).on('submit', '#action_form', function(e){
            e.preventDefault();
            send_mail = 'False';
            {% if request.user.is_staff %}
            if($('#id_send_mail'). is(":checked")){
              send_mail = 'True';
              }
            {% endif %}
            $.ajax({
              type:'POST',
              url : '{% url "solutions:questionereponder" pk=question.pk %}',
              data : {
                description : $('#id_description').val().trim(),
                status : $("#id_status").children("option:selected").val(),
                send_mail : send_mail,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val(),
                action : 'post'
              },
              success:function(json){
                document.getElementById("action_form").reset();
                console.log(json);
                $('#actionul').prepend(json.html_content);
                $('#noAction').remove();
                $('#last_action').html(json.last_action);
                $('#time_toreact').html(json.time_toreact);
                $('#time_toresolv').html(json.time_toresolv);
                $('#resolved_at').html(json.resolved_at);
                $('#status_display').html(json.status_display);
                // $('#actionul').html(json.html_content);
                // $('#actionul').html(json.html_content);
                //
              },
            });
          });
        </script>
        <div class="frame">
          <ul class="actionul" id='actionul'>
            {% for reponce in question.reponces.all %}
              {% if reponce.user.is_staff %}
                <li style="width:100%">
                      <div class="msj macro">
                        <div class="avatar align-bottom"><img class="rounded-circle " style="width:100%;" src='{% static "img/avatar-admin.png" %}' /></div>
                            <div class="actiontext text-l">
                                <p>{{ reponce.description|safe|linebreaks }} </p>
                                <p><small>{% trans "by" %} {{ reponce.user }} {{ reponce.created_at|date:"d/M/Y H:m" }}</small></p>
                            </div>
                        </div>
                </li>
              {% else %}
                <li style="width:100%;">
                    <div class="msj-rta macro">
                        <div class="actiontext text-r">
                            <p>{{ reponce.description|safe|linebreaks }}</p>
                            <p><small>{% trans "by" %}  {{ reponce.user }} {{ reponce.created_at|date:"d/M/Y H:m" }}</small></p>
                        </div>
                    <div class="avatar align-bottom" style="padding:0px 0px 0px 10px !important"><img class="rounded-circle" style="width:100%;" src='{% static "img/avatar.png" %}' /></div>
                </li>
              {% endif %}
            {% empty %}
            <p id="noAction">{% trans "No action" %}.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tab-pane fade w-100" id="list-statistics" role="tabpanel" aria-labelledby="list-statistics-list">
        <h3>{% trans "historic" %}</h3>
        <h4 class="text-center bg-dark py-2 text-white w-100 rounded">Dates</h4>
        <p>{{question.created_at|date:"y-m-d H:m"}} <i class="fa fa-star-of-life"></i> {% trans "Ticket opening" %}</p>
        <p>{{question.viwed_at|date:"y-m-d H:m"}} <i class="fa fa-star-of-life"></i> {% trans "Taking into account" %}</p>
        {% for reponce in question.reponces.all reversed  %}
        <p>{{reponce.created_at|date:"y-m-d H:m"}} <span class="fa {{reponce.status}}"></span>{% trans "Action by" %} {{reponce.user}}</p>
        {% endfor %}
        <p>{% now "y-m-d H:m"%} <span class="fa fa-caret-down"></span> {% trans "Now" %}</p>

        <h4 class="text-center bg-dark py-2 text-white w-100 rounded">{% trans "Times" %}</h4>
        <p>{% trans "Taking into account" %} {{question.get_time_to_view}}</p>
        <p>{% trans "Time to first react" %} {{question.get_time_to_react}}</p>
        <p>{% trans "Time to resolve" %} {{question.get_time_to_resolv}}</p>

      </div>
    </div>
</div>
    <script src='{% static "js/medium-editor.js" %}'></script>

    </script>
          <script>
            var editor = new MediumEditor('.editable', {
              buttonLabels: 'fontawesome',
                  toolbar: {
                      buttons: ['bold', 'italic',  'justifyCenter',
                          'anchor', 'underline',  'strikethrough',
                          'subscript', 'superscript', 'anchor',
                          'quote', 'orderedlist', 'unorderedlist',
                          'indent', 'outdent', 'justifyLeft', 'justifyCenter',
                          'justifyRight', 'justifyFull',
                          'h1', 'h2', 'h3',  'h4', 'h5', 'h6',
                      ]
                  }
              });
          </script>

{% endblock %}
