{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block body_block %}

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">
                  {% if form.instance.pk%}{% trans "Edit ticket" %}
                  {% else %}{% trans "New ticket" %}
                  {% endif %}</h4>
                <p class="card-category">Tickets</p>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="quesionForm" data-categorie-url="{% url 'solutions:ajax_load_categorie' %}" novalidate>
                  {% csrf_token %}
                  <div class="row">

                    {% if not form.instance.pk%}
                    <div class="col-md-6">
                      <div class="form-group">
                        {% bootstrap_field form.categorie  placeholder=''  %}
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          {% bootstrap_field form.souscategorie     field_class='collapse' %}
                      </div>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                          {% bootstrap_field form.priorite layouy='horizontal'%}
                      </div>
                    </div>
                    {% endif %}
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {% bootstrap_field form.titre  placeholder='' %}
                      </div>
                    </div>
                    <div class="col-md-6">
                      {% bootstrap_field form.image    addon_after='<i class="fa fa-image"></i>' %}

                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        {% bootstrap_field form.description placeholder='' show_label=False%}

                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary pull-right">{% trans "Open ticket" %}</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>

      <script>
        $("#id_categorie").change(function () {
          var url = $("#quesionForm").attr("data-categorie-url");
          var categorieId = $(this).val();
          if (categorieId) {
            $.ajax({
              url: url,
              data: {
                'categorie': categorieId
              },
              success: function (data) {
                $("#id_souscategorie").html(data);
                $(".collapse").collapse('show');
              }
            });
          }
          else {
            $(".collapse").collapse('hide');
          }
        });
      </script>

{% endblock %}
