{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}

{% block body_block %}


<div class="row">
  <div class="col-md-4  col-lg-2">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Ticket</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">{% trans "Ticket's traitment" %}</a>
      <a class="list-group-item list-group-item-action" id="list-statistics-list" data-toggle="list" href="#list-statistics" role="tab" aria-controls="profile">{% trans "statistics" %}</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Historique</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Tous</a>
    </div>
  </div>
  <div class="col ">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <table class="table table-borderless  mx-xs-2 ">
          <tbody class="row row-col-1  no-gutters">
              <tr class="col-12 bg-light text-center align-self-center">
                <th >id</th>
                  <td>{{question.pk}}</td>
                  <td> <a class="btn btn-primary" href="{% url 'solutions:questionedit' pk=question.pk %}">{% trans "Edit" %}</a></td>
                  <td><a class="btn btn-primary" href="{% url 'solutions:questioneResolved' pk=question.pk %}">{% trans "Resolved" %}</a></td>
              </tr>
              <div class="col-12 row">
                <tr class="col-md-6 col-sm-12 row no-gutters">
                    <th class="col-4 bg-light">{% trans "Open date" %}</th>
                    <td class="col bg-white" >{{question.created_at|date:"y-m-d H:m"}}</td>
                </tr>
                <tr class="col-md-6 col-sm-12 row no-gutters">
                  <th class="col-4 bg-light">{% trans "By" %}</th>
                  <td class="col bg-white">{{question.user}}</td>
                </tr>
              </div>

              <tr class="col-12 col-sm-12 col-sm-12 row no-gutters">
                <th class="col-2 bg-light">{% trans "Lase edit" %}</th>
                  <td class="col bg-white">{{question.last_action|date:"y-m-d H:m"}}</td>
              </tr>
              <tr class="col-md-6  col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "Time to react" %}</th>
                  <td class="col-8 bg-white">{{question.get_time_to_react}}</td>
              </tr>
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4  bg-light">{% trans "Time to resolv" %}</th>
                  <td class="col-8 ">{{question.get_time_to_resolv}}</td>
              </tr>
              <tr class="col-12 col-sm-12 row no-gutters">
                <th class="col-2 bg-light">{% trans "Resolved at" %}</th>
                  <td class="col  bg-white ">{{question.resolved_at|date:"y-m-d H:m"}}</td>
              </tr>
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "Status" %}</th>
                  <td class="col bg-white">{{question.get_status_display}}</td>
              </tr>
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "Status" %}</th>
                  <td class="col bg-white">{{question.get_priorite_display}}</td>
              </tr>
              <tr class="col-md-12 col-sm-12 row no-gutters">
                <th class="col-2 bg-light">{% trans "Categorie" %}</th>
                  <td class="col bg-white">{{question.categorie.name}}/{{question.souscategorie.name}}</td>
              </tr>
              <tr class="col-md-12 col-sm-12 row no-gutters">
                <th class="col-2 bg-light">{% trans "Title" %}</th>
                  <td class="col bg-white">{{question.titre}}</td>
              </tr>
              <tr class="col-md-12 col-sm-12 row no-gutters">
                <th class="col-2 bg-light">{% trans "Description" %}</th>
                  <td class="col bg-white">{{question.description}}</td>
              </tr>
              <tr class="col-md-12 col-sm-12 row no-gutters">
                  <td class="col ">
                    {% if question.image %}
                    <img src="{{question.image.url}}" height="50%" width="50%" alt="">
                    {% endif %}
                  </td>
              </tr>



          </tbody>
        </table>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <h4>Action</h4>
        <table class="table  table-sm">
          <tbody>
              {% for reponce in question.reponces.all %}
              <tr>
                <td>{{ reponce.created_at|date:"d/M/Y" }}</td>
                <td>{{ reponce.description|safe|linebreaks }}</td>
                <td>{% trans "Posted by" %}: <strong> {%if reponce.user.get_full_name %} {{ reponce.user.get_full_name  }} {%else%} {{ reponce.user  }}{%endif%}</strong></td>
            </tr>
            {% empty %}
                <p>{% trans "No action" %}.</p>
            {% endfor %}
            </tbody>
        </table>
        <form method="post" action="{% url 'solutions:questionereponder' pk=question.pk %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-10">
              <div class="wmd-panel">
                  <div id="wmd-button-bar" ></div>
                      {% bootstrap_form form show_label=False layout='horizontal' %}
              </div>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="save btn btn-info">{% trans "Save" %}.</button>
            </div>
          </div>
        </form>
      </div>
      <div class="tab-pane fade" id="list-statistics" role="tabpanel" aria-labelledby="list-statistics-list">
        <h3>{% trans "Statistics" %}</h3>
        <h4 class="text-center bg-dark py-2 text-white rounded">Dates</h4>
        <p>{{question.created_at|date:"y-m-d H:m"}}</p>







      </div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
{% endblock %}
