{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}


{% block body_block %}
<div class="wrapper">
  <div class="fresh-table toolbar-color-green">
    <!--
    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
    Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
  -->
  <table id="fresh-table" class="table">
    <thead>
      <!-- <th data-field="id" >Id</th> -->
      <th data-field="Ref" data-sortable="true">Ref</th>
      <th data-field="title" data-sortable="true">{% trans "Title" %}</th>
      <th data-field="status" data-sortable="true">{% trans "Status" %}</th>
      <th data-field="published" data-sortable="true">{% trans "Published on" %}</th>
      <th data-field="applicant" data-sortable="true">{% trans "Applicant" %}</th>
      <th data-field="priority" data-sortable="true">{% trans "priority" %}</th>
      <th data-field="categorie" data-sortable="true">{% trans "Categorie" %}</th>
      <th data-field="resolution" data-sortable="true">{% trans "Resolution time" %}</th>
      <th data-field="actions" >Actions</th>
    </thead>
    <tbody>
      {% for question in question_list %}
      <tr>
        <!-- <td>{{question.id}}</td> -->
        <td><a class="text-dark" href="{% url 'solutions:questiondetail' pk=question.pk %}">{{question.get_ref}}</a></td>
        <td>{{ question.titre }}</td>
        <td>{{ question.get_status_display}}</td>
        <td>{{ question.created_at|date:"d/M/Y"}}</td>
        <td>{{question.user}}</td>
        <td>{{ question.get_priorite_display}}</td>
        <td>{{ question.categorie.name}}</td>
        <td>{{question.get_time_to_resolv}}</td>
        <td>
          <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'solutions:questiondetail' pk=question.pk %}" title="Edit">
            <i class="fa fa-edit"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>

<script>
  var $table = $('#fresh-table')


          $(function () {
            $table.bootstrapTable({
              classes: 'table table-hover table-striped',
              toolbar: '.toolbar',

              search: true,
              showRefresh: false,
              showToggle: true,
              showColumns: true,
              pagination: true,
              striped: true,
              sortable: true,
              height: $(window).height(),
              pageSize: 25,
              pageList: [25, 50, 100],

              formatShowingRows: function (pageFrom, pageTo, totalRows) {
                return ''
              },
              formatRecordsPerPage: function (pageNumber) {
                return pageNumber + ' rows visible'
              }
            })
            // $(function () {
            //   $table.bootstrapTable('hideColumn', 'id')
            // })
            $(window).resize(function () {
              $table.bootstrapTable('resetView', {
                height: $(window).height()
              })
            })
          })
        </script>
{% endblock %}
