{% extends 'base.html' %}
{% load i18n %}


{% block body_block %}
<div class="row">
    <div class="d-flex">
      <div class="  p-3 m-2 text-white-50 bg-dark rounded shadow-sm dropdown list-group">
        <a class=" dropdown-toggle text-white" href="#" id="prioriteDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Filter by priority"%}</a>
        <div class="dropdown-menu" aria-labelledby="prioriteDropdownMenuLink">
          <a href="?{{status|cut:'&'}}" class="nav-link {%if not priorite %} active{%endif%}">{% trans "All"%}</a>
          <a href="?priorite=U{{status}}" class='nav-link {{active.U}}'>{% trans "Urgent"%}</a>
          <a href="?priorite=H{{status}}" class='nav-link {{active.H}}'>{% trans "Height"%}</a>
          <a href="?priorite=M{{status}}" class='nav-link {{active.M}}'>{% trans "Medium"%}</a>
          <a href="?priorite=F{{status}}" class='nav-link {{active.F}}'>{% trans "Low"%}</a>
        </div>
      </div>

      <div class="d-flex  p-3 m-2 text-white-50 bg-dark rounded shadow-sm dropdown list-group">
        <a class=" dropdown-toggle text-white" href="#" id="statusDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {% trans "Filter by status"%}</a>
        <div class="dropdown-menu" aria-labelledby="statusDropdownMenuLink">
          <a href="?{{priorite|cut:'&'}}" class="list-group-item list-group-item-action filter-item {%if not status %} active{%endif%}">{% trans "All"%}</a>
          <a href="?status=OV{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.OV}}">{% trans "Open"%}</a>
          <a href="?status=RS{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.RS}}">{% trans "Resolved"%}</a>
          <a href="?status=RF{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.RF}}">{% trans "Refused"%}</a>
        </div>
      </div>

    </div>
</div>
    <div class="">
      <div class="text-center p-3 my-2 text-white-50 bg-dark rounded shadow-sm">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">List des ticket</h6>
        </div>
      </div>

      {%  if question_list%}
      {% if pagecounter > 1 %}
      <div class="text-center">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      <table class="table">
        <thead>
            <td class="px-2">Id</td>
            <td class="px-2">{% trans "Title" %}</td>
            <td class="px-2">{% trans "Status" %}</td>
            <td class="px-2">{% trans "Published on" %}</td>
            <td class="px-2">{% trans "Applicant" %}</td>
            <td class="px-2">{% trans "priority" %}</td>
            <td class="px-2">{% trans "Categorie" %}</td>
            <td class="px-2">{% trans "Resolution time" %}</td>




        </thead>
      {% for question in question_list %}

          <tr>
            <td>{{question.id}}</td>
            <td><a  href="{% url 'solutions:questiondetail' pk=question.pk %}">{{ question.titre }} </td>
            <td>{{ question.get_status_display}}</td>
            <td>{{ question.created_at|date:"d/M/Y"}}</td>
            <td><a href="{% url 'accounts:profile' username=question.user.username %}">{{question.user}}</a></td>
            <td>{{ question.get_priorite_display}}</td>
            <td>{{ question.categorie.name}}</td>
            <td>{{question.get_time_to_resolv}}</td>




          </tr>

      {% endfor %}
      </table>
      {% if pagecounter > 1 %}
      <div class="text-center">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      {% else %}<h2>Pas de ticket pour le moment!</h2>
      {%endif%}
    </div>
{% endblock %}
