{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}

{% block body_block %}


<div class="row row-col-1">
  <div class="col-12">
    <ul class="nav nav-tabs nav justify-content-center" id="list-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Ticket</a>
      </li><li class="nav-item">
        <a class="nav-link" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">{% trans "Ticket's traitment" %}</a>
      </li><li class="nav-item">
        <a class="nav-link" id="list-statistics-list" data-toggle="list" href="#list-statistics" role="tab" aria-controls="profile">{% trans "historic" %}</a>
      </li><li class="nav-item">
        <a class="nav-link" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"></a>
      </li>
    </ul>
    </div>
    <div class="tab-content w-100" id="nav-tabContent">
      <div class="tab-pane fade show active w-100" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
        <table class="table table-borderless  mx-xs-2 ">
          <tbody class="row row-col-1  no-gutters">
            <tr class="col-12 bg-light text-center align-self-center">
              <th class="">Id</th>
              <td>{{question.get_ref}}</td>
              <td><a class="btn btn-primary" href="{% url 'solutions:questionedit' pk=question.pk %}">{% trans "Edit" %}</a></td>
              {% if  question.status == "OV"%}
              <td>
                <form class="" action="{% url 'solutions:questioneResolved' pk=question.pk %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary" type="submit" name="button">{% trans "Resolved" %}</button>
                </form>
              </td>
              {% endif %}
              {% if not question.charged_by and request.user.is_staff %}
              <td>
                <a id="charged" class="btn btn-primary" href="javascript:void(0)" >{% trans "Take in charge" %} </a>
                  <script type="text/javascript">
                    $("#charged").click(function () {
                        $.ajax({url: "http://{{request.META.HTTP_HOST}}{% url 'solutions:questioneCharged' pk=question.pk %}",
                         success: function (data) {
                              $("charged").remove();
                        }});
                    });
                  </script>

              </td>
              {% endif %}
            </tr>
            <div class="col-12 row">
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "Open date" %}</th>
                <td class="col bg-white" >{{question.created_at|date:"Y-m-d H:m"}}</td>
              </tr>
              <tr class="col-md-6 col-sm-12 row no-gutters">
                <th class="col-4 bg-light">{% trans "By" %}</th>
                <td class="col bg-white">{{question.user}}</td>
              </tr>
            </div>

            <tr class="col-12 col-sm-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Last edit" %}</th>
              <td class="col bg-white">{{question.last_action|date:"Y-m-d H:m"}}</td>
            </tr>
            <tr class="col-md-6  col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Time to react" %}</th>
              <td class="col-8 bg-white">{{question.get_time_to_react}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4  bg-light">{% trans "Time to resolve" %}</th>
              <td class="col-8 bg-white">{{question.get_time_to_resolv}}</td>
            </tr>
            <tr class="col-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Resolved at" %}</th>
              <td class="col  bg-white ">{{question.resolved_at|date:"Y-m-d H:m"}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Status" %}</th>
              <td class="col bg-white">{{question.get_status_display}}</td>
            </tr>
            <tr class="col-md-6 col-sm-12 row no-gutters">
              <th class="col-4 bg-light">{% trans "Status" %}</th>
              <td class="col bg-white">{{question.get_priorite_display}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Categorie" %}</th>
              <td class="col bg-white">{{question.categorie.name}}/{{question.souscategorie.name}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Title" %}</th>
              <td class="col bg-white">{{question.titre}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <th class="col-2 bg-light">{% trans "Description" %}</th>
              <td class="col bg-white">{{question.description}}</td>
            </tr>
            <tr class="col-md-12 col-sm-12 row no-gutters">
              <td class="col ">
                {% if question.image %}
                <img src="{{question.image.url}}" height="50%" width="50%" alt="">
                {% endif %}
              </td>
            </tr>



          </tbody>
        </table>
      </div>
      <div class="tab-pane fade w-100" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
        <h4>Action</h4>
        <form method="post" action="{% url 'solutions:questionereponder' pk=question.pk %}">
          {% csrf_token %}
          <div class="row row-col-1">
            <div class="col-sm-10">
              <div class="wmd-panel">
                <div id="wmd-button-bar" ></div>
                {% bootstrap_field form.description  placeholder='' show_label=False layout='horizontal' field_class='form-control-full col-md-9' %}
                {% bootstrap_field form.status  placeholder='' show_label=False layout='horizontal'  %}

              </div>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="save btn btn-info">{% trans "Save" %}.</button>
            </div>
          </div>
        </form>
        <div class="frame">
          <ul class="actionul">
            {% for reponce in question.reponces.all %}
              {% if reponce.user.is_staff %}
                <li style="width:100%">
                      <div class="msj macro">
                        <div class="avatar align-bottom"><img class="rounded-circle " style="width:100%;" src='{% static "img/avatar-admin.png" %}' /></div>
                            <div class="actiontext text-l">
                                <p>{{ reponce.description|safe|linebreaks }} </p>
                                <p><small>{% trans "by" %} {{ reponce.user }} {{ reponce.created_at|date:"d/M/Y H:m" }}</small></p>
                            </div>
                        </div>
                </li>
              {% else %}
                <li style="width:100%;">
                    <div class="msj-rta macro">
                        <div class="actiontext text-r">
                            <p>{{ reponce.description|safe|linebreaks }}</p>
                            <p><small>{% trans "by" %}  {{ reponce.user }} {{ reponce.created_at|date:"d/M/Y H:m" }}</small></p>
                        </div>
                    <div class="avatar align-bottom" style="padding:0px 0px 0px 10px !important"><img class="rounded-circle" style="width:100%;" src='{% static "img/avatar.png" %}' /></div>
                </li>
                {% comment %} <div class="col-4">
                  <td>{% trans "Posted by" %}: <strong> {%if reponce.user.get_full_name %} {{ reponce.user.get_full_name  }} {%else%} {{ reponce.user  }}{%endif%}</strong> ({{reponce.get_status_display}})</td>
                </div> {% endcomment %}
              {% endif %}
            {% empty %}
            <p>{% trans "No action" %}.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="tab-pane fade w-100" id="list-statistics" role="tabpanel" aria-labelledby="list-statistics-list">
        <h3>{% trans "historic" %}</h3>
        <h4 class="text-center bg-dark py-2 text-white w-100 rounded">Dates</h4>
        <p>{{question.created_at|date:"y-m-d H:m"}} <i class="fa fa-star-of-life"></i> {% trans "Ticket opening" %}</p>
        <p>{{question.viwed_at|date:"y-m-d H:m"}} <i class="fa fa-star-of-life"></i> {% trans "Taking into account" %}</p>
        {% for reponce in question.reponces.all %}
        <p>{{reponce.created_at|date:"y-m-d H:m"}} <span class="fa {{reponce.status}}"></span> {{reponce.description}}</p>
        {% endfor %}
        <p>{% now "y-m-d H:m"%} <span class="fa fa-caret-down"></span> {% trans "Now" %}</p>

        <h4 class="text-center bg-dark py-2 text-white w-100 rounded">{% trans "Times" %}</h4>
        <p>{% trans "Taking into account" %} {{question.get_time_to_view}}</p>
        <p>{% trans "Time to first react" %} {{question.get_time_to_react}}</p>
        <p>{% trans "Time to resolve" %} {{question.get_time_to_resolv}}</p>

      </div>
    </div>
</div>
{% endblock %}
