{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% block body_block %}

    {% if form.instance.pk%}
      <h1>{% trans "Edit ticket" %}</h1>
    {% else %}
      <h1>{% trans "New ticket" %}</h1>
    {% endif %}


    {% comment %} <form method="POST" enctype="multipart/form-data" id="quesionForm" data-categorie-url="{% url 'solutions:ajax_load_categorie' %}" novalidate>
      {% csrf_token %}
      {% bootstrap_form form layout='horizontal'%}
      <button type="submit" class="save btn btn-info text_right">Save</button>
      <a href="{% url 'solutions:questionlist' %}">Nevermind</a>
    </form> {% endcomment %}
    <form method="POST" enctype="multipart/form-data" id="quesionForm" data-categorie-url="{% url 'solutions:ajax_load_categorie' %}" novalidate>
      {% csrf_token %}

      {% if not form.instance.pk%}
        {% bootstrap_field form.categorie  layout='horizontal' error_css_class='border-danger'%}
        {% bootstrap_field form.souscategorie  layout='horizontal' show_label=False  field_class='offset-md-3 col-md-9 collapse justify-content-end'%}
        {% bootstrap_field form.priorite layout='horizontal'%}
      {% endif %}
      {% bootstrap_field form.titre layout='horizontal'%}
      {% bootstrap_field form.image show_label=False layout='horizontal' field_class='col-md-9 align-self-end'%}
      {% bootstrap_field form.description layout='horizontal'%}







      <button type="submit" class="save btn btn-info text_right">{% trans "Save" %}</button>
      <a href="{% url 'solutions:questionlist' %}">{% trans "Cancel" %}</a>
    </form>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"  crossorigin="anonymous"></script>


    <script>
      $("#id_categorie").change(function () {
        var url = $("#quesionForm").attr("data-categorie-url");
        var categorieId = $(this).val();
        if (categorieId) {
          $.ajax({
            url: url,
            data: {
              'categorie': categorieId
            },
            success: function (data) {
              $("#id_souscategorie").html(data);
              $(".collapse").collapse('show');


            }
          });
        }
        else {
          $(".collapse").collapse('hide');
        }



      });
    </script>

{% endblock %}
