{% extends 'base.html' %}
{% load bootstrap4 %}
{% load i18n %}
{% load static %}

{% block body_block %}

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header card-header-success">
                <h4 class="card-title">
                  {% if form.instance.pk%}{% trans "Edit ticket" %}
                  {% else %}{% trans "New ticket" %}
                  {% endif %}</h4>
                <p class="card-category">Tickets</p>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data" id="quesionForm" data-categorie-url="{% url 'solutions:ajax_load_categorie' %}" novalidate>
                  {% csrf_token %}
                  <div class="row">

                    {% if not form.instance.pk%}
                    <div class="col-md-6">
                      <div class="form-group">
                        {% bootstrap_field form.categorie  placeholder=''   addon_before='<i class="fa fa-bars"></i>'%}

                      </div>
                    </div>
                    <div class="col-md-6">
                        <div id="souscategorieForm" class="form-group collapse">

                          <label for="id_souscategorie">{% trans "Sub-category" %}</label>
                          <div >
                            <select name="souscategorie" class="form-control " title="" required="" id="id_souscategorie">
                              <option value="" selected="">---------</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                          {% bootstrap_field form.priorite  layouy='horizontal' addon_before='<i class="fab fa-cloudscale"></i>'%}
                      </div>
                    </div>
                    <div class="col-md-6">
                      {% bootstrap_field form.image  show_label=False  addon_after='<i class="far fa-image"></i>' %}
                  </div>
                    {% endif %}
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        {% bootstrap_field form.objet   placeholder='' addon_before='<i class="fa fa-scroll"></i>' %}
                      </div>
                    </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <link rel="stylesheet" href="{% static "css/medium-editor.css" %}">
                      <link rel="stylesheet" href="{% static "css/themes/default.css" %}" id="medium-editor-theme">

                      <div class="form-group row bmd-form-group border">

                        <label class="col-md-3 col-form-label sr-only bmd-label-static" for="id_description">Description</label>
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="fa fa-pen"></i>
                          </span>
                        </div>
                        <div class="form-control-full col-md-12">
                          <textarea name="description" class="editable medium-editor-textarea" data-placeholder="Description" placeholder="Description" title="" id="id_description">
                          </textarea>
                        </div>
                      </div>

                    </div>
                  </div>
                  <button type="submit" class="btn btn-nton pull-right">{% trans "Unlock" %}</button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>

      <script>

        $("#id_categorie").change(function () {
          loader = true;
          var url = $("#quesionForm").attr("data-categorie-url");
          var categorieId = $(this).val();
          if (categorieId) {

            $.ajax({
              url: url,
              data: {
                'categorie': categorieId
              },
              success: function (data) {
                  $("#souscategorieForm").collapse('show');
                  $("#id_souscategorie").html(data);
               }
            });
          }
          else {
            $("#souscategorieForm").collapse('hide');
            $("#categoryGrow").collapse('hide');

          }
        });
        var editor = new MediumEditor('.editable', {
          buttonLabels: 'fontawesome',
              toolbar: {
                  buttons: ['bold', 'italic',  'justifyCenter',
                      'anchor', 'underline',  'strikethrough',
                      'subscript', 'superscript', 'anchor',
                      'quote', 'orderedlist', 'unorderedlist',
                      'indent', 'outdent', 'justifyLeft', 'justifyCenter',
                      'justifyRight', 'justifyFull',
                      'h1', 'h2', 'h3',  'h4', 'h5', 'h6',
                  ]
              }
          });
      </script>

{% endblock %}
