{% extends 'base.html' %}
{% load i18n %}


{% block body_block %}
<div class="row">
    <div class="col-4 col-sm-4">
      <div class=" list-group">
        <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-dark rounded shadow-sm">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">{% trans "Filter by priority"%}</h6>
          </div>
        </div>
        <a href="?{{status|cut:'&'}}" class="list-group-item list-group-item-action filter-item {%if not priorite %} active{%endif%}">{% trans "All"%}</a>
        <a href="?priorite=U{{status}}" class='list-group-item list-group-item-action filter-item {{active.U}}'>{% trans "Urgent"%}</a>
        <a href="?priorite=H{{status}}" class='list-group-item list-group-item-action filter-item {{active.H}}'>{% trans "Height"%}</a>
        <a href="?priorite=M{{status}}" class='list-group-item list-group-item-action filter-item {{active.M}}'>{% trans "Medium"%}</a>
        <a href="?priorite=F{{status}}" class='list-group-item list-group-item-action filter-item {{active.F}}'>{% trans "Low"%}</a>
      </div>
      <div class="list-group">
        <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-dark rounded shadow-sm">
          <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">{% trans "Filter by status"%}</h6>
          </div>
        </div>
        <a href="?{{priorite|cut:'&'}}" class="list-group-item list-group-item-action filter-item {%if not status %} active{%endif%}">{% trans "All"%}</a>
        <a href="?status=OV{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.OV}}">{% trans "Open"%}</a>
        <a href="?status=RS{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.RS}}">{% trans "Resolved"%}</a>
        <a href="?status=RF{{priorite}}" class="list-group-item list-group-item-action filter-item {{active.RF}}">{% trans "Refused"%}</a>
      </div>
    </div>
    <div class="col-8 col-sm-8">
      <div class="d-flex align-items-center p-3 my-2 text-white-50 bg-dark rounded shadow-sm">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">List des ticket</h6>
        </div>
      </div>

      {%  if question_list%}
      {% if pagecounter > 1 %}
      <div class="text-center">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      {% for question in question_list %}
        <div class="question">
            <div class="card  border-{{question.get_color}}">
                <div class="card-body">
                    <h5 class="card-title "><a  href="{% url 'solutions:questiondetail' pk=question.pk %}">{{ question.titre }} <span class="badge badge-{{question.get_color}}"> {{ question.reponces.count }}</span></a> {{ question.get_priorite_display}}</h5>
                    <p>{{ question.description|truncatechars:150 }}</p>
                    <p class="text-right">Publier le: {{ question.created_at|date:"D M Y"}} par <a href="{% url 'accounts:profile' username=question.user%}">{{ question.user }}</a></p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>
          </div>
      {% endfor %}
      {% if pagecounter > 1 %}
      <div class="text-center">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      {% else %}<h2>Pas de ticket pour le moment!</h2>
      {%endif%}
    </div>
</div>
{% endblock %}
