{% extends 'email/email_base.html' %}
{% load static %}
{% load i18n %}
{% block email_body %}


  <h1>Nton.com ADVISORY ticketing platform</h1>

  <p>un nouvoux ticket est créé saus l'ID: <strong>{{ context.ref }}
   </strong></p>

  <p>le ticket est créé par: <strong>{{ context.user }}</strong> client: <strong>{{ context.client }}</strong></p>

  <p>Titre de ticket: <strong>{{ context.title }}</strong></p>


  <p>pour accéder directement a ce ticket cliquez ici : <a href="{{ context.ticket_url }}">ici</a></p>
  {{ context.ticket_url }}
{% endblock %}
