@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v31/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUtiZTaR.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.body_main{
  min-height: 30rem;
}
.img-fluid{
  border-radius: 0.5rem;
}
.form-control {
  width: 50% ;
}
.mynav{
  margin-bottom: 1rem;
  min-height: 100px;
}
.form-control-full, .form-control-full > .form-control {
    width: 100% !important;
}

textarea{
  height: 5em !important;

}
hr {
    margin: 20px 0;
    border: 0;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: 0px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}
.featurette-divider{
  margin: 30px 0;
  clear: both;
}
.entry-title {
    font-weight: 700;
}
.question{
  padding: .5rem;
}

.nouvou_question{
  border-radius: 2px;
  height: 20px;
  width: 20px;
  fill: rgba(0,0,0,.5);
}

.profil-h3{
  font-size: 10px;
  font-weight: 700;
  letter-spacing: .5px;
  line-height: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #EDEFE1;
  color: #7c7c7c;
  margin-bottom: 32px;
  padding-bottom: 6px;
}


.profil-h2{
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #1c1c1c;
  padding: 40px 0;
}

.filter-item {
  padding: .4rem 1.25rem;
}
.descover{
  top: -40%;
  left: -1rem;
  width: 130%;
  height: 150%;
  -webkit-transform: rotate(-7deg);
  -ms-transform: rotate(-7deg);
  transform: rotate(-7deg);
  border-bottom-left-radius: 3rem;
}

.nav-btn{
  display: block !important;
}
.EA:before {
  content: "\f058"; }
.RS:before {
  content: "\f560"; }
.RF:before {
  content: "\f057"; }
.FR:before {
  content: "\f410"; }
.AN:before {
  content: "\f05e"; }

.nav-tabs .nav-link{
      font-weight:600;
      border: none;
  }
.nav-tabs .nav-link.active{
      border: none;
      border-bottom:2px solid #0062cc;
  }
  body{
      background: -webkit-linear-gradient(left, #3931af, #61ff85);
  }

.emp-profile{
    padding: 3%;
    /* margin-top: 3%; */
    margin-bottom: 4%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
