{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block body_block %}


<div class=" fresh-table toolbar-color-green">
  <table id="fresh-table" class="table">
    <thead>
        <th data-field="username" data-sortable="true">{% trans "Date" %}</th>
        <th data-field="email" data-sortable="true">{% trans "Description" %}</th>
        <th data-field="actions" >Actions</th>
    </thead>
    <tbody>
  {% for notification in notification_list %}


      <tr id="n{{notification.pk}}"{% if not notification.seen %}class="bg-light"{% endif %}>
        <td>{{ notification.date}}</td>
        <td><a <a class="text-dark" href="{% url 'accounts:notifications_redirect' pk=notification.pk %}">{{ notification.description }}</a></td>
        <td>
          {% if not notification.seen %}
          <a id="{{notification.pk}}read" rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="{% trans "Mark as read" %}" >
           <i class="fa fa-check-square-o"></i>
          </a>
          {% endif %}
          <a id="{{notification.pk}}remove"  rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="{% trans "Remove" %}">
           <i class="fa fa-remove"></i>
          </a>
        </td>
      </tr>
      <script type="text/javascript">

      $("#{{notification.pk}}read").click(function () {
          $.ajax({url: "{% url 'accounts:notifications_markread' pk=notification.pk %}",
           success: function (data) {
                $("#{{notification.pk}}read").remove();
                $("#n{{notification.pk}}").removeClass('bg-light');
                $("#notification_count").html(data.notifications_count);
          }});
      });
      $("#{{notification.pk}}remove").click(function () {
          $.ajax({url: "{% url 'accounts:notifications_remove' pk=notification.pk %}",
           success: function (data) {
                $("#n{{notification.pk}}").hide();
                $("#notification_count").html(data.notifications_count);

          }});
      });




      </script>
    {% endfor %}
    </tbody>
  </table>

</div>

















{% endblock %}
