{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block body_block %}


    {% if form %}
    <div class="px-5">
      <form method="POST" class="p-2 px-5">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" value="Enregistre" class="btn btn-primary">

      </form>
    </div>

    {% else %}
    <div class="text-center py-5">
      <h1>Ooops</h1>
      <p class="text-center">{% trans "Warning, Something went wrong, please try again" %}</p>

    </div>

    {% endif %}


  </div>
{% endblock %}
