{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% load i18n %}


{% block body_block %}


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-success">
              <h4 class="card-title">{% trans "Edit Profile" %}</h4>
              <p class="card-category">{% trans "Complete your profile" %}</p>
            </div>
            <div class="card-body">
              <form action="{% url 'accounts:edit' username=user.username %}" method="post">
                {% csrf_token %}
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.username  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.email  placeholder='' %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.first_name  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.last_name  placeholder='' %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  {% comment %} <div class="col-md-2">
                  {% bootstrap_field form.avatar  placeholder='' %}
                  </div> {% endcomment %}
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.tel  placeholder='' %}
                    </div>
                  </div>
                  {% if  request.user.is_staff %}
                  <div class="col-md-4">
                    <div class="form-group collapse hide">
                      <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" name="is_staff" class="form-check-input " id="id_is_staff" checked="">
                            Consultant
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                      {% bootstrap_field form.client  placeholder='' %}
                  </div>
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <div class="card-avatar">
              <a href="javascript:;">
                <img class="img-fluid" src='{% if user.avatar %}{{user.avatar.url}}{% else %}{% static "img/avatar.png" %}{% endif %}' />
              </a>
            </div>
            <div class="card-body">
              {% if user == request.user %}
              <a class="profile-edit-btn btn btn-primary w-100 py-1 my-1"href="{% url 'accounts:changepassword'  %}">{% trans "Change password"  %}</a>
              {% endif %}
              {% if request.user.is_staff %}
              <form class="form-inline" action="{% url 'accounts:made-consultant' username=user.username %}" method="post">
                {% csrf_token %}
                {% if user.is_staff %}
                <button class="profile-edit-btn  btn btn-danger w-100 py-1 my-1" id="tagle-consultant" type="submit" name="button">{% trans "Remove from consultant list"  %}</button>
                {% else %}
                <button class="profile-edit-btn btn btn-warning w-100 py-1 my-1" id="tagle-consultant" type="submit" name="button">{% trans "Add to consultant list"  %}</button>
                {% endif %}
              </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  function show_consutat() {
    var clientId = $("#id_client").children("option:selected").text();
    if (clientId == 'ntonadvisory') {
          $(".collapse").collapse('show');
    }
    else {
      $(".collapse").collapse('hide');
    }
  }

  $("#id_client").change(function () {
      show_consutat();
    });

  $(document).ready(function(){
      show_consutat();
    });
  </script>
{% endblock %}
