{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block body_block %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      {% trans "Users" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      {% trans "New User" %}</a>
  </li>
  {% comment %} <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      Contact</a>
  </li> {% endcomment %}
</ul>
<div class="tab-content" id="myTabContent">
  {% comment %} Users tab {% endcomment %}
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="  p-3 m-2 text-white-50 bg-dark rounded shadow-sm dropdown list-group">
      <a class=" dropdown-toggle text-white" href="#" id="ClientDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans "Filter by client"%}</a>
      <div class="dropdown-menu" aria-labelledby="ClientDropdownMenuLink">
        <a href="?client=" class="nav-link {%if not priorite %} active{%endif%}">{% trans "All" %}</a>
        {% for client in clients %}
        <a href="?client={{client.id}}" class="nav-link {%if not priorite %} active{%endif%}">{{client.name}}</a>
        {% endfor %}
      </div>
    </div>



      {%  if user_list%}
      {% if pagecounter > 1 %}
      <div class="text-center py-1">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      <table class="table">
        <thead>
            <td class="px-2">Id</td>
            <td class="px-2">{% trans "username" %}</td>
            <td class="px-2">{% trans "Email" %}</td>
            <td class="px-2">{% trans "Client" %}</td>
            <td class="px-2">{% trans "Staff" %}</td>
            <td class="px-2">{% trans "Last login" %}</td>




        </thead>
      {% for user in user_list %}

          <tr>
            <td>{{user.id}}</td>
            <td><a  href="{% url 'accounts:profile' username=user.username %}">{{ user.username }} </td>
            <td>{{ user.email}}</td>
            <td>{{ user.client.name}}</td>
            <td>{{ user.is_staff}}</td>
            <td>{{ user.last_login}}</td>




          </tr>

      {% endfor %}
      </table>
      {% if pagecounter > 1 %}
      <div class="text-center py-1">
        <a href="?page=0{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 010 .708L2.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 010 .708L6.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <a href="?page={{preview}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-left" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z" clip-rule="evenodd"/></svg>
          </a>
        <kbd>{{inpage|add:1}}/{{pagecounter|add:1}}</kbd>
        <a href="?page={{next}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L10.293 8 4.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>
        <a href="?page={{pagecounter}}{{priorite}}{{status}}">
          <svg class="bi bi-chevron-double-right" width="2em" height="2em" viewBox="0 0 16 16" fill="bg-dark" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L9.293 8 3.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 01.708 0l6 6a.5.5 0 010 .708l-6 6a.5.5 0 01-.708-.708L13.293 8 7.646 2.354a.5.5 0 010-.708z" clip-rule="evenodd"/></svg>
        </a>

      </div>
      {% endif %}
      {% else %}<h2>Pas de Client pour le moment!</h2>
      {%endif%}
</div>
  {% comment %}New User tab {% endcomment %}
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h1>{% trans "New user" %}</h1>

    <form method="POST" enctype="multipart/form-data" action="{% url 'clients:new' %}">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}


    <button type="submit" class="save btn btn-info text_right">Save</button>

    </form>
  </div>
  {% comment %} <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> {% endcomment %}
</div>


{% endblock %}
