{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block body_block %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      {% trans "Users" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      {% trans "New User" %}</a>
  </li>
  {% comment %} <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
      Contact</a>
  </li> {% endcomment %}
</ul>
<div class="tab-content" id="myTabContent">
  {% comment %} Users tab {% endcomment %}
  <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="  p-3 m-2 text-white-50 bg-dark rounded shadow-sm dropdown list-group">
      <a class=" dropdown-toggle text-white" href="#" id="ClientDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {% trans "Filter by client"%}</a>
      <div class="dropdown-menu" aria-labelledby="ClientDropdownMenuLink">
        <a href="?client=" class="nav-link {%if not priorite %} active{%endif%}">{% trans "All" %}</a>
        {% for client in clients %}
        <a href="?client={{client.id}}" class="nav-link {%if not priorite %} active{%endif%}">{{client.name}}</a>
        {% endfor %}
      </div>
    </div>
      <div class=" fresh-table toolbar-color-green">
        <table id="fresh-table" class="table">
          <thead>
              <th data-field="username" data-sortable="true">{% trans "username" %}</th>
              <th data-field="email" data-sortable="true">{% trans "Email" %}</th>
              <th data-field="client" data-sortable="true">{% trans "Client" %}</th>
              <th data-field="conultant" data-sortable="true">{% trans "Staff" %}</th>
              <th data-field="last_login" data-sortable="true">{% trans "Last login" %}</th>
              <th data-field="actions" >Actions</th>
          </thead>
          <tbody>
        {% for user in user_list %}
            <tr>
              <td><a <a class="text-dark" href="{% url 'accounts:profile' username=user.username %}">{{ user.username }}</a></td>
              <td>{{ user.email}}</td>
              <td>{{ user.client.name}}</td>
              <td>{{ user.is_staff}}</td>
              <td>{{ user.last_login}}</td>
              <td>
                <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'accounts:profile' username=user.username %}" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a rel="tooltip" title="Remove" class="table-action remove" href="{% url 'accounts:profile' username=user.username %}" title="Remove">
                 <i class="fa fa-remove"></i>
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>

      </div>

</div>
  {% comment %}New User tab {% endcomment %}
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div class="row">
      <div class="col-12 col-md-10 col-md-6">
        <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">{% trans "New user" %}</h4>
          {% comment %} <p class="card-category">{% trans "New user" %}</p> {% endcomment %}
        </div>
        <div class="card-body">
          <form action="{% url 'accounts:new' %}" method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.username  placeholder='' %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.email  placeholder='' %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.first_name  placeholder='' %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.last_name placeholder='' %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.password1  placeholder='' %}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.password2  placeholder='' %}
                </div>
              </div>
              <div class="col-md-6">
                {% bootstrap_field form.client layout='horizontal' %}

              </div>
              <div class="col-md-6">
                <div id="is_staff" class="form-check collapse hide">
                  <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" name="is_staff" class="form-check-input" id="id_is_staff" checked="">
                        Consultant
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <button type="submit" class="btn btn-primary pull-right">{% trans "Add user" %}</button>
            <div class="clearfix"></div>
          </form>
        </div>
        </div>
      </div>
    </div>
  </div>
  {% comment %} <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div> {% endcomment %}
</div>


<script>
  var $table = $('#fresh-table')

  // window.operateEvents = {
  //   // 'click .like': function (e, value, row, index) {
  //   //   alert('You click like icon, row: ' + JSON.stringify(row))
  //   //   console.log(value, row, index)
  //   // },
  //   'click .edit': function (e, value, row, index) {
  //     // alert('You click edit icon, row: ' + JSON.stringify(row))
  //     console.log(row.id)
  //     window.location.href = "{{ request.path }}profile/" + row.username;
  //   },
  //   'click .remove': function (e, value, row, index) {
  //     $table.bootstrapTable('remove', {
  //       field: 'id',
  //       values: [row.id]
  //     })
  //   }
  // }

  // function operateFormatter(value, row, index) {
  //   return [
  //     // '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
  //     //   '<i class="fa fa-heart"></i>',
  //     // '</a>',
  //     '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
  //       '<i class="fa fa-edit"></i>',
  //     '</a>',
  //     '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
  //       '<i class="fa fa-remove"></i>',
  //     '</a>'
  //   ].join('')
  // }

  $(function () {
    $table.bootstrapTable({
      classes: 'table table-hover table-striped',
      toolbar: '.toolbar',

      search: true,
      showRefresh: false,
      showToggle: true,
      showColumns: true,
      pagination: true,
      striped: true,
      sortable: true,
      height: $(window).height(),
      pageSize: 25,
      pageList: [25, 50, 100],

      formatShowingRows: function (pageFrom, pageTo, totalRows) {
        return ''
      },
      formatRecordsPerPage: function (pageNumber) {
        return pageNumber + ' rows visible'
      }
    })
    // $(function () {
    //   $table.bootstrapTable('hideColumn', 'id')
    // })


    $(window).resize(function () {
      $table.bootstrapTable('resetView', {
        height: $(window).height()
      })
    })
  })

</script>
<script>
function show_consutat() {
  var clientId = $("#id_client").children("option:selected").text();
  if (clientId == 'ntonadvisory') {
        $("#is_staff").collapse('show');
  }
  else {
    $("#is_staff").collapse('hide');
  }
}

$("#id_client").change(function () {
    show_consutat();
  });

</script>

{% endblock %}
