{% extends "base.html" %}
{% load bootstrap4 %}
{% load i18n %}


{% block body_block %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">{% trans "New user" %}</h4>
            {% comment %} <p class="card-category">{% trans "New user" %}</p> {% endcomment %}
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.username  placeholder='' %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.email  placeholder='' %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.first_name  placeholder='' %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.last_name placeholder='' %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.password1  placeholder='' %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {% bootstrap_field form.password2  placeholder='' %}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <div id="is_staff" class="form-check collapse hide">
                      <label class="form-check-label">
                          <input type="checkbox" name="is_staff" class="form-check-input" id="id_is_staff">
                          Consultant
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
                {% bootstrap_field form.client layout='horizontal' %}
                {% bootstrap_field form.supervisor layout='horizontal' %}

              <button type="submit" class="btn btn-primary pull-right">{% trans "Add user" %}</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    <script>
    function show_consutat() {
      var clientId = $("#id_client").children("option:selected").text();
      if (clientId == 'ntonadvisory') {
            $("#is_staff").collapse('show');
      }
      else {
        $("#is_staff").collapse('hide');
      }
    }

    $("#id_client").change(function () {
        show_consutat();
      });

      $("#stertedit").click(function () {
          $(".tobeedited").removeClass('form-control-plaintext');
          $(".tobeedited").addClass('form-control');
          $("#stertedit").collapse('hide');
          $("#send").collapse('show');


        });

    </script>
{% endblock %}
