
{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}


{% block body_block %}
<!-- <link rel="stylesheet" href="{%static 'css/client.nton.css'%}?v=0.0.2" -->

<div class="container emp-profile">
  <div class="" id="home" >
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">{% if form.instance.pk%}{{client}}
              {% else %}{% trans "New Client" %}
              {% endif %}</h4>
              <p class="card-category">{% trans "Complete le profile" %}</p>
            </div>
            <div class="card-body">
              <form  method="post">
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.name  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.email  placeholder='' %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.tel  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      {% bootstrap_field form.url  placeholder='' %}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      {% bootstrap_field form.contact  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      {% bootstrap_field form.contact_tel  placeholder='' %}
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      {% bootstrap_field form.contact_email  placeholder='' %}
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    {% bootstrap_field form.address  placeholder='' %}

                  </div>
                </div>
                <button id="send" type="submit" class="btn btn-primary pull-right">{% trans "New Client" %}</button>

              </form>
            </div>
        </div>
      </div>
    </div>
  </div>






{% endblock %}
