{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% load i18n %}


{% block body_block %}
<!-- <link rel="stylesheet" href="{%static 'css/client.nton.css'%}?v=0.0.2" -->

<div class="container emp-profile">
  <form method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-10">
        <div class="profile-head">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans "About" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="users-tab" data-toggle="tab" href="#list-users" role="tab" aria-controls="list-users" aria-selected="false">{% trans "Users" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="tickets-tab" data-toggle="tab" href="#list-tickets" role="tab" aria-controls="list-tickets" aria-selected="false">{% trans "Tickets" %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="statistic-tab" data-toggle="tab" href="#statistic" role="tab" aria-controls="statistic" aria-selected="false">{% trans "Statistic" %}</a>
            </li>

          </ul>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-9">
                  <div class="card">
                    <div class="card-header card-header-success">
                      <h4 class="card-title">{{client}}</h4>
                        <p class="card-category">{% trans "Complete le profile" %}</p>
                      </div>
                      <div class="card-body">
                        <form  method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  {% bootstrap_field form.name addon_before='<span class="input-group-text fa fa-briefcase "></span>' placeholder='' %}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  {% bootstrap_field form.email addon_before='<span class="input-group-text fa fa-envelope "></span>'  placeholder='' %}
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <div class="form-group">
                                  {% bootstrap_field form.tel  addon_before='<span class="input-group-text fa fa-phone"></span>' placeholder='' %}
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                  <div class="form-group">
                                    <div class="form-group bmd-form-group is-filled">
                                      <label for="id_url" class="bmd-label-static">{% trans "Site Internet" %}</label>
                                      <div class="input-group">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text">
                                          <i class="fa"><img height='16' src='{% static "img/net.svg" %}'  alt="..."></i>
                                        </span>
                                        </div>
                                        <input type="text" name="url" placeholder="http://" maxlength="200" class="form-control" title="" id="id_url">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <div class="form-group">
                                  {% bootstrap_field form.contact addon_before='<span class="input-group-text fa fa-user"></span>' placeholder='' %}
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  {% bootstrap_field form.contact_tel addon_before='<span class="input-group-text fa fa-mobile "></span>' placeholder=''  %}
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  {% bootstrap_field form.contact_email addon_before='<span class="input-group-text fa fa-envelope-open-text"></span>' placeholder=''  %}
                                </div>
                              </div>

                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                {% bootstrap_field form.charged_by placeholder=''  %}
                              </div>
                              <div class="col-md-12">
                                {% bootstrap_field form.address addon_before='<i class="fas fa-location-arrow"></i>' placeholder=''  %}

                              </div>
                            </div>
                            <button id="stertedit" type="button" class="btn btn-nton pull-left collapse show">{% trans "Edit" %}</button>
                            <button id="send" type="submit" class="btn btn-nton pull-right collapse hide">{% trans "Save" %}</button>

                            <div class="clearfix"></div>
                          </form>
                        </div>
                  </div>
                </div>
                  <div class="col-md-3">
                    {% if form.instance.pk%}
                    <div class="row">
                      <div class="col-12">
                        {% comment %} <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/> {% endcomment %}
                        <a class="profile-edit-btn btn btn-danger w-100 py-1 my-1"href="{% url 'clients:delete' slug=client.slug %}">{% trans "Delete" %}</a>
                        <a class="profile-edit-btn btn btn-info w-100 py-1 my-1"href="{% url 'accounts:new' %}?client={{client.slug}}">{% trans "Add user" %}</a>

                      </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
            </div>
            <div class="tab-pane fade" id="list-users" role="tabpanel" aria-labelledby="users-tab">
                <div class=" toolbar-color-green">
                  <table id="user-table" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                    <thead>
                        <th class="sorting" data-field="id"  >Id</th>
                        <th class="sorting" data-field="username">{% trans "username" %}</th>
                        <th class="sorting" data-field="email">{% trans "Email" %}</th>
                        <th class="sorting" data-field="client">{% trans "Client" %}</th>
                        <th class="sorting" data-field="conultant">{% trans "Staff" %}</th>
                        <th class="sorting" data-field="last_login" >{% trans "Last login" %}</th>
                        <th >Actions</th>
                        <!-- <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th> -->
                    </thead>
                    <tbody>
                  {% for client_user in client.users.all %}
                      <tr>
                        <td>{{client_user.id}}</td>
                        <td>{{ client_user.username }}</td>
                        <td>{{ client_user.email}}</td>
                        <td>{{ client_user.client.name}}</td>
                        <td>{{ client_user.is_staff}}</td>
                        <td>{{ client_user.last_login}}</td>
                        <td>
                          <a title="Edit" class="table-action edit" href="{% url 'accounts:edit' username=client_user.username %}" >
                          <i class="fa fa-edit"></i>
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
            <div class="tab-pane fade dataTables_wrapper dt-bootstrap4" id="list-tickets" role="tabpanel" aria-labelledby="tickets-tab">
                      <h4>{% trans "Tickets" %}</h4>
                      <table id="ticket_table" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                        <thead>
                          <td class="sorting">Id</td>
                          <td class="sorting">{% trans "Title" %}</td>
                          <td class="sorting">{% trans "Status" %}</td>
                          <td class="sorting">{% trans "Published on" %}</td>
                          <td class="sorting">{% trans "Applicant" %}</td>
                          <td class="sorting">{% trans "priority" %}</td>
                          <td class="sorting">{% trans "Categorie" %}</td>
                          <td class="sorting">{% trans "Resolution time" %}</td>
                        </thead>
                        {% for question in client.tickets.all %}

                        <tr>
                          <td>{{question.id}}</td>
                          <td><a  href="{% url 'solutions:questiondetail' pk=question.pk %}">{{ question.objet  }} </td>
                            <td>{{ question.get_status_display}}</td>
                            <td>{{ question.created_at|date:"d/M/Y"}}</td>
                            <td><a href="{% url 'accounts:profile' username=question.user.username %}">{{question.user}}</a></td>
                            <td>{{ question.get_priorite_display}}</td>
                            <td>{{ question.categorie.name}}</td>
                            <td>{{question.get_time_to_resolv}}</td>
                          </tr>
                          {% endfor %}
                        </table>
            </div>
            <div class="tab-pane fade" id="statistic" role="tabpanel" aria-labelledby="statistic-tab">
              <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="card">
                    <div class="card-header card-header-success">
                      <h4 class="card-title">{% trans "Tickets Status" %}</h4>
                    </div>
                    <div class="card-body table-responsive">
                      <table class="table table-hover">
                                                <tbody>
                          <tr>
                            <td>{% trans "Total" %}</td>
                            <td>{{client.tickets.all.count}}</td>
                          </tr>
                          <tr>
                            <td>{% trans "Open" %}</td>
                            <td>{{client.tickets_open.all.count}}</td>
                          </tr>
                          <tr>
                            <td>{% trans "Waiting" %}</td>
                            <td>{{client.tickets_waiting.all.count}}</td>
                          </tr>
                          <tr>
                            <td>{% trans "Resolved" %}</td>
                            <td>{{client.tickets_resolved.all.count}}</td>
                          </tr>
                          <tr>
                            <td>{% trans "Closed" %}</td>
                            <td>{{client.tickets_Closed.all.count}}</td>
                          </tr>
                          <tr>
                            <td>{% trans "Refused" %}</td>
                            <td>{{client.tickets_Refused.all.count}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                  <div class="card card-chart">
                    <div class="card-header card-header-success">
                      <div id="client_chart_status" class="ct-chart" data-url="{% url 'solutions:ajax_load_chart' %}?type=pie&client={{client.slug}}"></div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{% trans "Tickets Status" %}</h4>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card card-chart">
                    <div class="card-header card-header-success">
                      <div id="client_chart_day" class="ct-chart" data-url="{% url 'solutions:ajax_load_chart' %}?type=line&client={{client.slug}}"></div>
                    </div>
                    <div class="card-body">
                      <h4 class="card-title">{% trans "Tickets per day" %}</h4>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="https://code.highcharts.com/highcharts.src.js"></script>
  <script>
  chartloader('client_chart_status');
  chartloader('client_chart_day');



    $("#stertedit").click(function () {
        $(".form-control-plaintext").addClass('form-control');
        $(".form-control").removeClass('form-control-plaintext');
        $('.form-control').prop('readonly', false);
        $('.form-control').prop('disabled', false);
        $("#stertedit").collapse('hide');
        $("#send").collapse('show');
      });

  $(document).ready(function(){
    $(".form-control").addClass('form-control-plaintext');
    $(".form-control-plaintext").removeClass('form-control');
    $('.form-control-plaintext').prop('readonly', true);
    $('.form-control').prop('disabled', true);


    // $(".form-control-plaintext").addAttr('readonly');


    });
  </script>
  <script>
    $(document).ready(function() {
      config = {
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "{% trans "All" %}"]
        ],
        responsive: true,
        language: {
          "search": "_INPUT_",
          "emptyTable":     "{% trans "No data available in table" %}",
          "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
          "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
          "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
          "loadingRecords": "{% trans "Loading..." %}",
          "processing":     "{% trans "Processing..." %}",
          "search":         "{% trans "Search:" %}",
          "zeroRecords":    "{% trans "No matching records found" %}",
          "paginate": {
              "first":      "{% trans "First" %}",
              "last":       "{% trans "Last" %}",
              "next":       "{% trans "Next" %}",
              "previous":   "{% trans "Previous" %}",
          },
        }
      };
      $('#user-table').DataTable(config);
      $('#ticket_table').DataTable(config);


      var table = $('.datatable').DataTable();

    });
  </script>




{% endblock %}
