{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block body_block %}
<main role="main" class="container mb-3 body_main emp-profile">
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      {% trans "Clients" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      {% trans "New Client" %}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  {% comment %} Client tab {% endcomment %}
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {%  if client_list%}
    {% if pagecounter > 0 %}
    {% if is_paginated %}
    <div class="d-flex w-100">
      {% include "paginator.html" %}
    </div>
    {% endif %}
    {% endif %}
    <div class="wrapper">


        <div class="fresh-table toolbar-color-blue">
        <!--
          Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
          Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
        -->
          <table id="fresh-table" class="table">
            <thead>
              <th data-field="id" data-sortable="true">Id</th>
              <th data-field="name" data-sortable="true">{% trans "Name" %}</th>
              <th data-field="email" data-sortable="true">{% trans "DSI Email" %}</th>
              <th data-field="address" data-sortable="true">{% trans "Address" %}</th>
              <th data-field="users" data-sortable="true">{% trans "Users" %}</th>

              <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
            </thead>
            <tbody>
              {% for client in client_list %}
              <tr>
                <td>{{client.id}}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.email}}</td>
                <td>{{ client.address}}</td>
                <td>{{client.users.all.count}}</td>
                <td></td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% else %}<h2>Pas de Client pour le moment!</h2>
      {%endif%}
    </div>
    {% comment %}New Client tab {% endcomment %}
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h1>{% trans "New Client" %}</h1>
      <form method="POST" enctype="multipart/form-data" action="{% url 'clients:new' %}">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="save btn btn-info text_right">Save</button>
      </form>
    </div>
  </div>







  <script>
    var $table = $('#fresh-table')
    $table.bootstrapTable('hideColumn', 'id')

    window.operateEvents = {
      // 'click .like': function (e, value, row, index) {
      //   alert('You click like icon, row: ' + JSON.stringify(row))
      //   console.log(value, row, index)
      // },
      'click .edit': function (e, value, row, index) {
        // alert('You click edit icon, row: ' + JSON.stringify(row))
        console.log(row.id)
        window.location.href = "{{ request.path }}" + row.id;
      },
      'click .remove': function (e, value, row, index) {
        $table.bootstrapTable('remove', {
          field: 'id',
          values: [row.id]
        })
      }
    }

    function operateFormatter(value, row, index) {
      return [
        // '<a rel="tooltip" title="Like" class="table-action like" href="javascript:void(0)" title="Like">',
        //   '<i class="fa fa-heart"></i>',
        // '</a>',
        '<a rel="tooltip" title="Edit" class="table-action edit" href="javascript:void(0)" title="Edit">',
          '<i class="fa fa-edit"></i>',
        '</a>',
        '<a rel="tooltip" title="Remove" class="table-action remove" href="javascript:void(0)" title="Remove">',
          '<i class="fa fa-remove"></i>',
        '</a>'
      ].join('')
    }

    $(function () {
      $table.bootstrapTable({
        classes: 'table table-hover table-striped',
        toolbar: '.toolbar',

        search: true,
        showRefresh: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        height: $(window).height(),
        pageSize: 25,
        pageList: [25, 50, 100],

        formatShowingRows: function (pageFrom, pageTo, totalRows) {
          return ''
        },
        formatRecordsPerPage: function (pageNumber) {
          return pageNumber + ' rows visible'
        }
      })
      $(function () {
        $table.bootstrapTable('hideColumn', 'id')
      })


      $(window).resize(function () {
        $table.bootstrapTable('resetView', {
          height: $(window).height()
        })
      })
    })

  </script>

</main>

{% endblock %}
