{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}


{% block body_block %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
      {% trans "Clients" %}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
      {% trans "New Client" %}</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  {% comment %} Client tab {% endcomment %}
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    {%  if client_list%}
    {% if pagecounter > 0 %}
    {% if is_paginated %}
    <div class="d-flex w-100">
      {% include "paginator.html" %}
    </div>
    {% endif %}
    {% endif %}
    <table class="table">
      <thead>
        <td class="px-2">Id</td>
        <td class="px-2">{% trans "Name" %}</td>
        <td class="px-2">{% trans "DSI Email" %}</td>
        <td class="px-2">{% trans "Address" %}</td>
        <td class="px-2">{% trans "Users" %}</td>
      </thead>
      {% for client in client_list %}
      <tr>
        <td>{{client.id}}</td>
        <td><a  href="{% url 'clients:detail' slug=client.slug %}">{{ client.name }} </td>
          <td>{{ client.email}}</td>
          <td>{{ client.address}}</td>
          <td>{{client.users.all.count}}</td>
        </tr>
        {% endfor %}
      </table>
      {% if is_paginated %}
      <div class="d-flex w-100">
        {% include "paginator.html" %}
      </div>
      {% endif %}
      {% else %}<h2>Pas de Client pour le moment!</h2>
      {%endif%}
    </div>
    {% comment %}New Client tab {% endcomment %}
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <h1>{% trans "New Client" %}</h1>
      <form method="POST" enctype="multipart/form-data" action="{% url 'clients:new' %}">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' %}
        <button type="submit" class="save btn btn-info text_right">Save</button>
      </form>
    </div>
  </div>


{% endblock %}
