<!doctype html>
{% load static%}
{% load i18n %}
{% load bootstrap4 %}
<html lang="en">
<head>
  <title>NTON ADVISORY</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href='{% static "css/fresh-bootstrap-table.css" %}?v=0.0.3'>

  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href='{% static "css/material-dashboard.css" %}?v2.1.0.7' rel="stylesheet" />
  {# Load CSS and JavaScript #}
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/all.css'%}">
  <link rel="icon" href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'css/offcanvas.css'%}">
  <!-- <link href="{% static 'css/wmd.css'%}" rel="stylesheet" /> -->
  <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{%static 'css/master.nton.css'%}?v=1.1.7{% now "ymdhms" %}">
  {% comment %} {% now "ymdhms" %} {% endcomment %}
  <script src="{% static "js/medium-editor.js" %}"></script>
  <script type="text/javascript"  src="{% static 'js/nton.master.js'%}?v=0.0.4{% now "ymdhms" %}" type="text/javascript"></script>



</head>

<body class="">
  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
  <svg class="circular" width="48px" height="48px">
  <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#83CB1E"/>
  <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#007bff"/>
  </svg>
  </div>

  <div class="wrapper ">
    <div class="sidebar" data-color="green" data-background-color="white" data-image="">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="http://www.ntonadvisory.com/" target="_blank" class="simple-text logo-normal">
          <img class="img-fluid" src={% static "img/logo.png" %} alt="NTON ADVISORY">
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if activePage == 'dashboard' %}active{% endif %} ">
            <a class="nav-link" href="{% url 'home' %}">
              <i class="material-icons">dashboard</i>
              <p>{% trans "Dashboard" %}</p>
            </a>
          </li>
          <li class="nav-item {% if activePage == 'new_ticket' %}active{% endif %}">
            <a class="nav-link" href="{% url 'solutions:questioncreate' %}">
              <i class="fa fa-clipboard"></i>
              <p>{% trans "New ticket" %}</p>
            </a>
          </li>
          <li class="nav-item {% if activePage == 'ticket' %}active{% endif %}">
            <a class="nav-link" href="{% url 'solutions:questionlist' %}">
              <i class="fa fa-clipboard-list"></i>
              <p>Tickets</p>
            </a>
          </li>
          {% if request.user.is_staff %}
          <li class="nav-item {% if activePage == 'clientActive' %}active{% endif %}">
            <a class="nav-link" href="{% url 'clients:list' %}">
              {% comment %} <i class="material-icons">library_books</i> {% endcomment %}
              <i class="fa fa-building"></i>
              <p>Clients</p>
            </a>
          </li>
          <li class="nav-item {% if activePage == 'accounts' %}active{% endif %}">
            <a class="nav-link" href="{% url 'accounts:list' %}">
              {% comment %} <i class="material-icons">library_books</i> {% endcomment %}
              <i class="fa fa-users"></i>
              <p>{% trans "Users" %}</p>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="main-panel ps-container ps-theme-default ps-active-y ps-y">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'home' %}">{% trans "Technical support" %}</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            {% comment %} <form class="navbar-form d-none">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form> {% endcomment %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'solutions:questioncreate' %}">
                  <i class="fa fa-clipboard"></i>
                  <p class="d-lg-none d-md-block">
                    {% trans "New ticket" %}
                  </p>

                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'accounts:notifications' %}" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span id="notification_count" class="notification ">{{request.user.get_notification_count}}</span>
                  <p class="d-lg-none d-md-block">
                    Notifications
                  </p>
                </a>
                <div id="notification_dropdown" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                </div>
              </li>
              <!-- <li class="nav-item dropdown">
                <form class="form-inline my-2 ml-1 my-lg-0" action="{% url 'set_language' %}" method="post">
                  {% csrf_token %}
                  <input class="form-control mr-sm-2"  name="next" type="hidden" value="{{ redirect_to }}">
                  <select class="dropdown form-control form-control-sm" name="language" onchange="this.form.submit()"> {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
                  {% for language in languages %}
                    <option class="dropdown-item" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                    selected disabled{% endif %}> {{ language.name_local }} ({{ language.code }})
                    </option>
                  {% endfor %}
                </select>
              </form>

              </li> -->
              <li class="nab-item">
                <div class=" dropdown-submenu">
                  <a class="nav-link" href="javascript:;" id="navbarDropdownlang" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% trans "Language" %}

                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownlang">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                      <a class="nav-link {% if language.code == LANGUAGE_CODE %} selected disabled{% endif %}"
                       href='{% url "set_language_from_url" user_language=language.code %}?next={{request.get_full_path_info}}'>{{ language.name_local }}</a>
                    {% endfor %}

                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    {% trans "Account" %}
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="{% url 'accounts:myprofile' %}">Profile</a>








                  <a class="dropdown-item" href="{% url 'accounts:logout' %}">{% trans "Log out" %}</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          {% bootstrap_messages %}
          {% block body_block %}

          {% endblock %}
          {% block static_content %}

          {% endblock %}

        </div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="http://ntonadvisory.com/">Nton.com ADVISORY</a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            Copyright
              <script>document.write(new Date().getFullYear());</script> Tous droits réservés | Fabriqué par <a href="http://ntonadvisory.com/" target="_blank">NTON.COM ADVISORY</a>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {% comment %} <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../assets/js/plugins/bootstrap-datetimepicker.min.js"></script>

  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script> -->
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc --> {% endcomment %}

  <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"  crossorigin="anonymous"></script>
  <script type="text/javascript"  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script type="text/javascript"  src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script type="text/javascript"  src=" {% static 'js/plugins/jquery.dataTables.min.js' %}"></script>

    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script type="text/javascript"  src='{% static "js/core/bootstrap-material-design.min.js" %}?v=0.0.2'></script>
  <script type="text/javascript"  src='{% static "js/plugins/perfect-scrollbar.jquery.min.js" %}'></script>
  <script type="text/javascript"  src='{% static "js/material-dashboard.js" %}?v=2.1.5' type="text/javascript"></script>
  <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/bootstrap-table/dist/bootstrap-table.min.js"></script> -->
  <script type="text/javascript"  src='{% static "js/bootstrap-table.min.js" %}' type="text/javascript"></script>

<script type="text/javascript">
var loader = true;


$(document).ajaxStart(function() {
  if (loader) {
    $('#ftco-loader').addClass('show');
    }
  });

$(document).ajaxComplete(function() {
    $('#ftco-loader').removeClass('show');
  loader = true;
  });


  $(document).ready(function() {

    function get_notification() {
        var url = "{% url 'accounts:load_notification' %}";
        loader = false;
        $.ajax({
          url: url,

          success: function (data) {
            $("#notification_count").html(data.notifications_count);
            notification_body = "";
            for (notification in data.notifications) {
              notification_body += '<a class="dropdown-item" href="' + data.notifications[notification].link + '">'+ data.notifications[notification].description +'</a>';
            };
            notification_body += '<a class="dropdown-item" href="{% url 'accounts:notifications' %}">{% trans "View all" %}</a>';
              $("#notification_dropdown").html(notification_body);
           }
        });

      setTimeout(
          function(){
              get_notification()
          }, 50000);
        };
      get_notification();
      });
</script>



</body>

</html>
