{%extends "base.html"%}
{% load i18n %}
{% load timetags %}
{% load static %}
{% load bootstrap4 %}

{% block static_content %}

  {% if not user.is_staff %}
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="fa fa-ticket-alt"></i>
          </div>
          <p class="card-category pr-2">Tickets</p>
          <h3 class="card-title pr-2">{{tickets_open}}
            <small>{% trans "Open " %}</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">warning</i>
            <a href="{% url 'solutions:questionlist' %}?status=OV">{% trans "Open more tickets" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="fa fa-clipboard-check"></i>
          </div>
          <p class="card-category pr-2">Tickets</p>
          <h3 class="card-title pr-2">{{tickets_resolved}}
            <small>{% trans "Resolved " %}</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">warning</i>
            <a href="{% url 'solutions:questionlist' %}?status=RS">{% trans "Explore" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon">
            <i class="fa fa-ticket-alt"></i>
          </div>
          <p class="card-category pr-2">Tickets</p>
          <h3 class="card-title pr-2">{{tickets_waiting}}
            <small>{% trans "Waiting " %}</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">warning</i>
            <a href="{% url 'solutions:questionlist' %}?status=EA">{% trans "Explore" %}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card card-stats">
        <div class="card-header card-header-azure card-header-icon">
          <div class="card-icon">
            <i class="fa fa-window-close"></i>
          </div>
          <p class="card-category pr-2">Tickets</p>
          <h3 class="card-title pr-2">{{tickets_closed}}
            <small>{% trans "Closed " %}</small>
          </h3>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">
            {% if form.instance.pk%}{% trans "Edit ticket" %}
            {% else %}{% trans "New ticket" %}
            {% endif %}</h4>
          <p class="card-category">Tickets</p>
        </div>
        <div class="card-body">
          <form method="POST" action="{% url 'solutions:questioncreate' %}" enctype="multipart/form-data" id="quesionForm" data-categorie-url="{% url 'solutions:ajax_load_categorie' %}" novalidate>
            {% csrf_token %}
            <div class="row">

              {% if not form.instance.pk%}
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.categorie  placeholder=''  %}

                </div>
              </div>
              <div class="col-md-6">
                <div id="categoryGrow"class="collapse" >
                </div>
                  <div id="souscategorieForm" class="form-group collapse">
                    <label for="id_souscategorie">Souscategorie</label>
                    <div >
                      <select name="souscategorie" class="form-control " title="" required="" id="id_souscategorie">
                        <option value="" selected="">---------</option>
                      </select>
                    </div>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    {% bootstrap_field form.priorite layouy='horizontal'%}
                </div>
              </div>
              <div class="col-md-6">
                {% bootstrap_field form.image  show_label=False  addon_after='<i class="fa fa-image"></i>' %}
            </div>
              {% endif %}
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.objet   placeholder='' %}
                </div>
              </div>
              {% if request.user.is_staff %}
              <div class="col-md-6">
                <div class="form-group">
                  {% bootstrap_field form.priorite_intern   placeholder='' %}
                </div>
              </div>
              {% endif %}

            </div>
            <div class="row">
              <div class="col-md-12">
                <link rel="stylesheet" href="{% static "css/medium-editor.css" %}">
                <link rel="stylesheet" href="{% static "css/themes/default.css" %}" id="medium-editor-theme">

                <div class="form-group row bmd-form-group border">
                  <label class="col-md-3 col-form-label sr-only bmd-label-static" for="id_description">Description</label>
                  <div class="form-control-full col-md-12">
                    <textarea name="description" class="editable medium-editor-textarea" data-placeholder="Description" placeholder="Description" title="" id="id_description">
                    </textarea>
                  </div>
                </div>

              </div>
            </div>
            <button type="submit" class="btn btn-nton pull-right">{% trans "Open" %}</button>
            <div class="clearfix"></div>
          </form>
  <script type="text/javascript">
    $("#id_categorie").change(function () {
      loader = true;
      var url = $("#quesionForm").attr("data-categorie-url");
      var categorieId = $(this).val();
      if (categorieId) {

        $.ajax({
          url: url,
          data: {
            'categorie': categorieId
          },
          success: function (data) {
              $("#souscategorieForm").collapse('show');
              $("#id_souscategorie").html(data);
           }
        });
      }
      else {
        $("#souscategorieForm").collapse('hide');
        $("#categoryGrow").collapse('hide');

      }
    });


    var editor = new MediumEditor('.editable', {
      buttonLabels: 'fontawesome',
          toolbar: {
              buttons: ['bold', 'italic',  'justifyCenter',
                  'anchor', 'underline',  'strikethrough',
                  'subscript', 'superscript', 'anchor',
                  'quote', 'orderedlist', 'unorderedlist',
                  'indent', 'outdent', 'justifyLeft', 'justifyCenter',
                  'justifyRight', 'justifyFull',
                  'h1', 'h2', 'h3',  'h4', 'h5', 'h6',
              ]
          }
      });
  </script>
        </div>
      </div>
    </div>
    <div class="col-12">
      <form>
        <div class="row">
          <div class="col">
            <input type="text" name="start_date" class="form-control dateField" value='{{request.GET.start_date}}' placeholder='{% trans "Start date" %}'>
          </div>
          <div class="col">
            <input type="text" name="end_date" class="form-control dateField" value='{{request.GET.end_date}}' placeholder='{% trans "End date" %}'>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-nton">{% trans "Filter" %}</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      <div class="card card-chart">
        <div class="card-header card-header-success">
          <div id="container" class="ct-chart" data-url="{% url 'solutions:ajax_load_chart' %}?type=pie{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"></div>

        </div>
        <div class="card-body">
          <h4 class="card-title">{% trans "Tickets Status" %}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card card-chart">
        <div class="card-header card-header-success">
          <div id="container2" class="ct-chart" data-url="{% url 'solutions:ajax_load_chart' %}?type=line{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}"></div>
        </div>
        <div class="card-body">
          <h4 class="card-title">{% trans "Tickets per day" %}</h4>
        </div>
      </div>
    </div>
  </div>

  {% elif user.is_staff %}
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-building"></i>
        </div>
        <h4 class="card-title">Clients</h4>
      </div>
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <table id="datatables" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
            <thead>
              <tr role="row">
                <th data-field="name"  class="sorting">{% trans "Name" %}</th>
                <th data-field="contact"  class="sorting">{% trans "Contact" %}</th>
                <th data-field="users"  class="sorting">{% trans "Users" %}</th>
                <th data-field="users" class="disabled-sorting text-right sorting">{% trans "Action" %}</th>

              </tr>
          </thead>
          <tbody>

            {% for client in client_list %}
            <tr role="row">
              <td><a class="text-dark" href="{% url 'clients:detail' slug=client.slug %}">{{client.name}}</a></td>
              <td>{{ client.contact}}</td>
              <td>{{client.users.all.count}}</td>
              <td>
                <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'clients:detail' slug=client.slug %}" title="Edit">
                  <i class="fa fa-edit"></i>
                </a>
                <a rel="tooltip" title="Remove" class="table-action remove" href="{% url 'clients:delete' slug=client.slug %}" title="Remove">
                 <i class="fa fa-remove"></i>
                </a>
              </td>
              </tr>
              {% endfor %}

            </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
    <div class="card">
      <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
          <i class="fa fa-building"></i>
        </div>
        <h4 class="card-title">{% trans "ticket has to be taken into account immediately" %}</h4>
      </div>
      <div class="card-body">
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <table id="question_table" class="table table-striped table-no-bordered table-hover dataTable dtr-inline" style="width: 100%;" role="grid" aria-describedby="datatables_info" width="100%" cellspacing="0">
                  <thead>
                    <tr role="row">
                    <th data-field="Ref" class="sorting">Ref</th>
                    <th data-field="title" class="sorting">{% trans "Title" %}</th>
                    <th data-field="status" class="sorting">{% trans "Status" %}</th>
                    <th data-field="published" class="sorting">{% trans "Published on" %}</th>
                    <th data-field="applicant" class="sorting">{% trans "Applicant" %}</th>
                    <th data-field="priority" class="sorting">{% trans "priority" %}</th>
                    <th data-field="categorie" class="sorting">{% trans "Categorie" %}</th>
                    <th data-field="actions" >Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for question in request.user.get_opened_ticket %}
                    <a class="text-dark" href="{% url 'solutions:questiondetail' pk=question.pk %}">
                    <tr role="row">
                      <td>{{question.get_ref}}</td>
                      <td>{{ question.objet  }}</td>
                      <td>{{ question.get_status_display}}</td>
                      <td>{{ question.created_at|date:"d/M/Y"}}</td>
                      <td>{{question.user}}</td>
                      <td>{{ question.get_priorite_display}}</td>
                      <td>{{ question.categorie.name}}</td>
                      <td>
                        <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'solutions:questiondetail' pk=question.pk %}" title="Edit">
                          <i class="fa fa-edit"></i>
                        </a>
                        <a rel="tooltip" title="Edit" class="table-action edit" href="{% url 'solutions:questioneCharged' pk=question.pk %}" title="Edit">
                          <i class="fa fa-ok"></i>
                        </a>
                      </td>
                    </tr>
                    </a>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end content-->
    </div>
    <!--  end card  -->
  </div>
  <script>
    $(document).ready(function() {
      config = {
        "pagingType": "full_numbers",
        "lengthMenu": [
          [10, 25, 50, -1],
          [10, 25, 50, "{% trans "All" %}"]
        ],
        responsive: true,
        language: {
          "search": "_INPUT_",
          "emptyTable":     "{% trans "No data available in table" %}",
          "info":           "{% trans "Showing _START_ to _END_ of _TOTAL_ entries" %}",
          "infoEmpty":      "{% trans "Showing 0 to 0 of 0 entries" %}",
          "infoFiltered":   "{% trans "(filtered from _MAX_ total entries)" %}",
          "infoPostFix":    "",
          "thousands":      ",",
          "lengthMenu":     "{% trans "Show _MENU_ entries" %}",
          "loadingRecords": "{% trans "Loading..." %}",
          "processing":     "{% trans "Processing..." %}",
          "search":         "{% trans "Search:" %}",
          "zeroRecords":    "{% trans "No matching records found" %}",
          "paginate": {
              "first":      "{% trans "First" %}",
              "last":       "{% trans "Last" %}",
              "next":       "{% trans "Next" %}",
              "previous":   "{% trans "Previous" %}",
          },
        }
      };
      $('#datatables').DataTable(config);
      $('#question_table').DataTable(config);


      var table = $('.datatable').DataTable();

    });
  </script>


    {% endif %}
  {% if user.is_superuser %}
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header card-header-success">
          <h4 class="card-title">{% trans "Consultant statistics" %}</h4>
          <p class="card-category">{% trans "users's charged tickets and resolved tickets" %}</p>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead class="text-warning">
              <th>{% trans "Consultant" %}</th>
              <th>{% trans "Consultat email" %}</th>
              <th>{% trans "Charged tickets" %}</th>
              <th>{% trans "Resolved tickets" %}</th>
              <th>{% trans "Average" %}</th>


            </thead>
            <tbody>

              {% for Consultant in usersStatics  %}
              <tr>
                <td>{{Consultant.username}}</td>
                <td>{{Consultant.email}}</td>
                <td>{{Consultant.total|default_if_none:'0'}}</td>
                <td>{{Consultant.resolved|default_if_none:'0'}}</td>
                <td>{{Consultant.avgTime|print_timestamp:' '}}</td>

              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% endif %}



  <script src="https://code.highcharts.com/highcharts.src.js"></script>

  <script>
      chartloader('container');
      chartloader('container2');
      {% if request.user.is_staff %}
        chartloader('containerClient');
      {% endif %}


  </script>


{% endblock %}
