{%extends "base.html"%}

{% block static_content %}
<div class="container">
<div class="descover bg-dark"></div>

<div class="container-fluid jumbotron ">
  <h1 class="display-4">DÉCOUVREZ NTON SOLUTIONS</h1>
  <p class="lead">Vous souhaitez vous consacrer à votre cœur de métier et assurer le bien être au travail de vos collaborateurs afin d’accompagner.</p>
</div>







<div class="">
  <header>
    <h1 class="entry-title ">IT CONSULTING</h1>
    <hr class="featurette-divider">
  </header>
  <div class="entry-content">
      <p><span class="style7">Nous identifions, développons et mettons en œuvre des projets de transformation qui renforcent la croissance et accentuent l’avantage compétitif de nos clients. Nos lignes de services sont :</span></p>
      <p>1- <span class="s">Organisation</span></p>
      <ul>
        <li><span class="">Business Process Reengineering (BPR)</span></li>
      </ul>
      <p>2- <span class="s">Technologie</span></p>
      <ul>
        <li>Stratégie des systèmes d’information (SSI)</li>
        <li>Audit des Systèmes d’Informations (ASI)</li>
        <li>Assistance à Maîtrise d’Ouvrage (AMO)</li>
      </ul>
    </div>
  </div>
  <div class="">
  <header>
    <h1 class="entry-title ">TECHNOLOGIE & IT LEARNING</h1>
    <hr class="featurette-divider">
  </header>
    <div class="entry-content">
        <p><span class="style7">Nous offrons à nos clients des solutions qui permettent de répondre à leurs besoins en termes d’infrastructure Matériels et réseau.</span></p>
        <p>Nous veillons aussi à ce que l’ensemble soit sécurisé et en adéquation avec les normes standards de sécurité et d’excellence.</p>
        <p>Nous avons toujours misé sur le facteur humain et son développement et c’est dans cette optique que nous nous sommes engagés à offrir des formations IT de grande qualité qui pourront permettre à nos clients de pouvoir suivre l’évolution rapide des nouvelles technologies.</p>
    </div>
  </div>
<div class="">

    <header class="entry-header">
        <h1 class="entry-title ">BUSINESS PROCESS OUTSOURCING</h1><hr class="featurette-divider __before_content">
    </header>
    <div class="entry-content">
      <p><span class="style7">Nous apportons à nos clients une valeur ajoutée en prenant tout les processus qui pourront être externalisés et que nous sont pas   nécessairement partie intégrante de leur Cœur de métier </span></p>
      <p><span class="style7">Ceci permet à nos clients de :</span><br>
        <ul>
          <li>
            <p>Contrôler et réduire les coûts opérationnels de l’entreprise avec pour objectifs d’améliorer certains ratios, de connaitre et de prévoir les montants avec précision. L’externalisation permet une vision à moyen et long terme étant donné l’évolution plus lente des coûts externes par rapport aux coûts internes de l’entreprise.</p>
          </li>
          <li>
            <p>Investir dans les secteurs clés les plus productifs de l’entreprise. Externaliser consiste alors à se focaliser sur son cœur de métier. C’est d’autant plus intéressant lorsque les activités externalisées sont peu maîtrisées au sein de l’entreprise, et sont donc réalisées avec plus ou moins de succès dans des délais assez importants. De plus, la perspective d’un travail de qualité nécessiterait en interne des investissements élevés.</p>
          </li>
          <li>
            <p>Augmenter sa compétitivité en bénéficiant de compétences humaines, technologiques et matérielles récentes : les entreprises spécialisées dans l’externalisation effectuent sans cesse des investissements pour rester compétitives et grâce à la mutualisation, ces prestataires peuvent proposer les meilleurs profils, processus et matériels élaborés à des prix très compétitifs.</p>
          </li>
          <li>
            <p>Anticiper, afin d’accélérer des changements structurels : par exemple, lorsque le facteur temps est prioritaire, le recours à l’externalisation va fluidifier et accélérer la mise en œuvre, du fait de la rapidité du processus. Ainsi, plus l’environnement aura tendance à évoluer rapidement, plus le recours à un prestataire externe aura du sens car il pourra mettre en place les équipes et les moyens nécessaires à la situation. La flexibilité du prestataire sera appréciable, autant lors des phases de croissance que des phases de décroissance.</p>
          </li>
        </ul>
      </div>
  </div>


</div>














{% endblock %}
